.wrapper {
  box-shadow: none;
  background-color: #fff;
}

.totalAmount {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  margin: 0 0 8px;
  > span {
    display: inline-block;
  }
}
