.iconWrapper {
  margin: 10px auto 10px;
  svg {
    width: 80px;
    height: 80px;
  }
}

.congra {
  font-size: 32px;
  font-weight: 700;
  color: #1e0e62;
  margin-bottom: 20px;
}

.subTitle {
  color: #625c88;
  font-size: 22px;
  font-weight: 700;
}

.tableInfo {
  font-size: 20px;
  font-weight: 500;
}

.orderId {
  margin: 0 0 20px;
}

.tableItem {
  margin-left: 28px;
  font-size: 16px;
  font-weight: 600;
  span {
    display: inline-block;
  }
  .title {
    margin-right: 10px;
  }
}

.qrDivider {
  margin: 10px 0 0;
  text-align: center;
}

.qrCodeWrapper {
  height: 250px;
}
