.logoWrapper {
  position: relative;
  padding-top: 10px;

  min-height: 43px;

  .img {
    width: 186px;
    height: 43px;
  }

  .backArrow {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 20px;
    height: 20px;
  }
}
