.textAlign {
  text-align: center;
}

// default value of border radius
.default-br {
  border-radius: 16px;
}

.page-wrapper {
  padding: 0 18px;
  height: 100%;
  display: flex;
  flex-direction: column;
  > div {
    flex: unset;
  }
  .expanded {
    flex: 1;
    overflow-y: auto;
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
