.textAlign {
  text-align: center;
}

// default value of border radius
.default-br {
  border-radius: 16px;
}

.page-wrapper {
  padding: 0 18px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
}
