.textAlign {
  text-align: center;
}

// default value of border radius
.default-br {
  border-radius: 16px;
}

.page-wrapper {
  padding: 0 18px;
  height: 100%;
  > div {
    flex: unset;
  }
  .expanded1 {
    min-height: calc(100% - 114px);
  }
  .expanded2 {
    box-sizing: border-box;
    padding-bottom: 18px;
    min-height: calc(100% - 154px);
  }
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.curtain {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: 0.4;
  z-index: 2;
}

.full-width-btn {
  border-radius: 16px;
  text-align: center;
  padding: 15px 0;
  color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background: $primary-color;
  &.disabled {
    color: #000;
    background: grey;
  }
}
