.pageWrapper {
  overflow-y: auto;
}

.checkoutForm {
  margin: 15px 0 10px;
  .total {
    margin: 30px 0 15px;
    .last {
      font-size: 17px;
      font-weight: 600;
    }
  }

  .message {
    color: var(--error-color);
  }
}

.paymentElement {
  margin-top: 10px;
}

.payButton {
  margin: 10px 0 10px;
}

.timeRemaining {
  display: inline-block;
  padding: 3px 4px;
  border-radius: 4px;
  margin-left: 5px;
  background: #c8fbde;
  color: #226047;
  font-size: 12px;
}
