.wrapper {
  margin: 0 auto;
  width: 90vw;
  position: sticky;
  bottom: 10px;

  border-radius: 16px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  .container {
    border-radius: 16px;
    position: relative;
    background: #7842eb;
    display: flex;
    justify-content: end;
    padding: 8px 0;

    .inner {
      margin-right: 20px;
      border-radius: 50%;
      background: #f5f5f5;
      font-size: 14px;
      width: 34px;
      height: 34px;
    }

    .centerTitle {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 16px;
      color: #fff;
    }
  }
}
