.title {
  padding: 0 3px;
  font-size: 16px;
}

.promoTitle {
  margin-top: 30px;
}

// pourboire
.tipTitle {
  margin: 20px 0 10px;
}

.tipping {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  font-weight: 800;

  .item {
    border-radius: 7px;
    background: #e4f4f5;
    color: #4fcfcf;
    padding: 6px 7px;

    &.inactive {
      background-color: #aeaeb4;
      color: #fff;
    }
  }

  input {
    font-weight: inherit;
    color: inherit;
    font-size: inherit;

    border: unset;
    padding: unset;
    margin: unset;
    outline: none;
    width: 30px;
    text-align: right;
    background: transparent;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.total {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-size: 17px;
}

.btnRow {
  position: sticky;
  bottom: 10px;

  display: flex;
  align-items: center;
  > div {
    border-radius: 16px;
    font-size: 16px;
    text-align: center;
  }
  .left {
    flex: 5;
    background: #f5f7fe;
    padding: 7px 0;
    margin-right: 10px;
    min-width: 130px;
  }

  .right {
    flex: 4;
    color: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: #7842eb;
    padding: 8px 0;
  }
}
