.title {
  font-size: 17px;
  font-weight: 500;
  margin: 10px 0;
}

.tipping {
  display: flex;
  justify-content: space-between;
  font-weight: 800;
  margin-bottom: 10px;

  .item {
    border-radius: 7px;
    background: #e4f4f5;
    color: #4fcfcf;
    padding: 6px 7px;
    &.inactive {
      background-color: #aeaeb4;
      color: #fff;
    }
    &.rounded {
      flex: 1;
    }
  }

  .hidden {
    display: none;
  }

  input {
    font-weight: inherit;
    color: inherit;
    font-size: inherit;

    border: unset;
    padding: unset;
    margin: unset;
    outline: none;
    width: 30px;
    text-align: right;
    background: transparent;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0;
  }
  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.btnWrapper {
  margin-top: 10px;
  .btnRow {
    // position: sticky;
    bottom: 10px;

    display: flex;
    align-items: center;
    > div {
      border-radius: 16px;
      text-align: center;
      padding: 15px 0;
    }
    .left {
      flex: 5;
      background: #f5f7fe;
      margin-right: 10px;
      min-width: 130px;
    }

    .right {
      flex: 4;
      justify-content: center;
      color: #fff;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      background: $primary-color;
    }
  }
}

.pageWrapper {
  > div {
    flex: unset;
  }
  .content {
    flex: 1;
  }
}

.paymentSelectionWrapper {
  border-radius: 16px;
  background: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px 16px;
  .item {
    display: flex;
    align-items: center;
    &:last-child {
      margin-bottom: unset;
    }
    &.disabled {
      color: grey;
      pointer-events: none;
      .circle {
        border-color: grey;
      }
    }
    > div {
      flex: unset;
    }
    .title {
      flex: 1;
    }
    .img {
      max-width: 80px;
      max-height: 36px;
    }
    .circle {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      border: 1px solid #000;
      box-sizing: border-box;
      margin-left: 6px;

      &.selected {
        &::before {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          border-radius: inherit;
          background: #000;
        }
      }
    }
  }
}

.inputWrapper {
  border-radius: 19px;
  background: #f9f9f9;
  padding: 8px 14px;
}

.datetimeInputWrapper {
  .innerSpan {
    flex: 1;
    align-items: center;
  }
}

.locationInfo {
  margin: 10px 0;
}

.locationOptions {
  margin: 20px 0 0 16px;
  li {
    margin-bottom: 14px;
  }
}

.locationItem {
  font-size: 14px;
  span {
    display: block;
  }
  .context {
    font-size: 12px;
    color: #333;
  }
}

.extraInfoWrapper {
  display: flex;
  .extraInput {
    font-size: 12px;
    min-height: 80px;
    flex: 1;
  }
}
